{% if event.image %}
  <div class="img">
    {% if event.url %}
      <a target="_blank" href="{{ event.url }}">
        <img src="{{ event.image }}" />
      </a>
    {% else %}
      <img src="{{ event.image }}" />
    {% endif %}
  </div>
{% else %}
  <div class="img">
    {% if event.url %}
      <a target="_blank" href="{{ event.url }}">
        <img src="{{ level2.logo }}" />
      </a>
    {% else %}
      <img src="{{ level2.logo }}" />
    {% endif %}
  </div>
{% endif %}
<h4>{{ event.date }}</h4>
{% if event.location is defined %}
  <h4 class="location">{{ event.location }}</h4>
{% endif %}
