{% extends "base.twig" %}

{% block container %}

<div class="row">

  <div class="col-sm-4">

    <h2>Events</h2>

  </div>

  <div class="col-sm-8">

    {% for event in events %}

      <div class="row event well">

        <div class="col-sm-4">
          {% if event.image.0 is defined %}
            <img src="{{ event.image.0 }}" />
          {% else %}
            <img src="https://wiki.hackerspace.lu/w/images/8/86/Syn2catLOGO.png" />
          {% endif %}
          {% if event.date is defined %}
            <h4>{{ event.date }}</h4>
          {% endif %}
          {% if event.location is defined %}
            <h4>{{ event.location }}</h4>
          {% endif %}
        </div>
        <div class="col-sm-8">
          <h2>
            {% if event.url.0 is defined %}
              <a href="{{ event.url.0 }}">
                {{ event.name }}
              </a>
            {% else %}
                {{ event.name }}
            {% endif %}
          </h2>
          <p>{{ event.description|raw }}</p>
        </div>

      </div>

    {% endfor %}

  </div>

</div>

{% endblock %}
